header img {
 height: 3vw;
 box-shadow: inset 10px;
}

header p {
    border-color: black;
}

header hr {
    color: gold;
}

section p {
    color: grey;
}

nav h4 {
    color: rgb(202, 58, 11);
}

hr {
    color:rgb(191, 235, 235);
}

article ol {
    font-weight: bold;
}



