.btn.bg-white:hover {
    background-color: rgb(241, 177, 177) !important;
}

.container .card {
    transition: transform 0.5s;
}

.container .card:hover {
    @media screen and (min-width: 992px) {
        transform: scale3d(1.1, 1.1, 1.1);
        z-index: 1000;
    }

    @media screen and (max-width: 991px) {
        border: 2px solid red;
    }

    @media screen and (max-width: 434px) {
        .container .button {
            padding: 10px 10px;
        }
    }
}